
h1 {
    color:rgb(80, 35, 255);
}

body {
    background-color: rgb(255, 254, 170);
    padding: 50px;
}

img.user {
    width: 150px;
}

div.img_cont {
    position: relative;
    margin: auto;
    background-color: cadetblue;
}

#gato1 {
    position: relative;
    margin: 10px;
}

#gato2 {
    position: absolute;
    top: 10px;
}

#gato3 {
    position: absolute;
    bottom: 14px;
}

.fnt-blue {
    color: blue;
}

h1.fnt-red {
    color: red;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo {
    color: darkcyan;
    font-size: 30px;
    font-style: italic;
}

.texto {
    color: darkblue;
    font-size: 15px;
}

.destacado {
    font-style: italic;
    font-weight: bold;
}

div.container {
    position: relative;
    display: inline-block;
    text-align: justify;
    min-width: 200px;
    max-width: 300px;
    width: 30%;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

div.container p {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.container img.product {
    display: block;
    object-fit: cover;
    width: 98%;
    height: 250px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

div.container div.price {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 28px;
    font-weight: bold;
    width: 85%;
    height: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.container div.name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 20px;
    font-weight: bold;
    width: 85%;
    height: 25px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.container div.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 16px;
    text-decoration-color: gray;
    width: 85%;
    height: 50px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

div.container div.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

div.container div.buttons div {
    display: inline-flex;
    overflow: hidden;
    text-align: center;
    height: 100%;

}

div.container div.buttons div i.like_button {
    font-size: 30px;
    color: rgb(216, 39, 39)
}

div.container div.buttons div i.message_button {
    font-size: 30px;
    color: rgb(10, 150, 175)
}

div.menu {
    position: fixed;
    z-index: 1;
    top: 0px;
    background-color: blue;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin-left: -58px;
}

div.pie {
    position: fixed;
    z-index: 1;
    bottom: 0px;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin-left: -58px;
}

p.vspace100 {
    margin-top: 100px;
}

p.vspace200 {
    margin-top: 200px;
}

div.rectangle {
    position: relative;
    display: flex;
    height: 200px;
    width: 50%;
    min-width: 275px;
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 0 auto;
}

p.rect_text {
    margin: auto;
}

div.circle {
    position: absolute;
    border: 5px solid brown;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    background-color: white;
}

div.circle.top {
    top: -35px;
}

div.circle.bottom {
    bottom: -35px;
}

div.circle.left {
    left: -35px;
}

div.circle.right {
    right: -35px;
}

div.azul {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 300px;
    width: 460px;
    border-radius: 20px;
    text-align: center;
    background-color: cyan;
    font-size: 24px;
    margin: 0 auto;
}

div.blanco {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: white;
    top: 0;
    left: 0;
}

#ex3 {
    margin: auto 10%;
    z-index: 1;
}

div.marco {
    position: relative;
    margin: 100px auto;
    border: 2.5px solid grey;
    height: 210px;
    width: 210px;
    background-color: grey;
}

div.icon_cont {
    display: flex;
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 2.5px;
    font-size: 50px;
    color: white;
    text-align: center;
}

i.vert_center {
    margin: auto;
}

div.top_left {
    top: 0;
    left: 0;
    background-color: red;
}

div.top_right {
    top: 0;
    right: 0;
    background-color: green;
}

div.bottom_left {
    bottom: 0;
    left: 0;
    background-color: blue;
}

div.bottom_right {
    bottom: 0;
    right: 0;
    background-color: black;
}

ul.square_list {
    list-style-type: square;
}

ol.letter_list {
    list-style-type: lower-latin;
}

div.factura {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 750px;
    min-width: 570px;
    margin: 0 50px;
    padding: 50px 0;
    font-size: 0.7rem;
    color: rgb(17, 141, 163)
}

div.factura_1 {
    display: flex;
    width: auto;
    margin: 50px;
}

div.factura_1_1 {
    width: 50%;

}

div.factura_1_2 {
    width: 50%;
}

div.factura_2 {
    display: flex;
    width: auto;
    margin: 50px;
}

.tab {
    margin-left: 20%;
}

td.hline {
    border: 1px solid rgb(28, 207, 207);
    color: rgb(28, 207, 207);
    padding: 0px;
}

td.hline2 {
    border: 2px solid rgb(28, 207, 207);
    color: rgb(28, 207, 207);
    padding: 0px;
}

td.vline {
    border: 5px solid rgb(28, 207, 207);
    color: rgb(28, 207, 207);
    padding: 0px;
    width: 0px;
}

td.vline.white {
    border: 15px solid white;
    padding: 0px;
    width: 0px;
}

th.header {
    font-size: 1rem;
    font-weight: bolder;
    text-align: left;
    width: 100%;
    padding-bottom: 5px
}

th.header2 {
    font-size: 0.8rem;
    background-color: rgb(28, 207, 207);
    color: black;
    width: 100%;

    padding: 3px 5px 3px 2px;
}

th.header3 {
    font-size: 1rem;
    font-weight: bolder;
    text-align: right;
    width: 100%;
    padding-right: 5px
}

td.grande {
    font-size: 0.9rem;
}

p.vspace30 {
    margin-top: 30px;
}

.tab2 {
    width: 100%;
}

.tab3 {
    width: 100%;
    table-layout: fixed;
}

div.campo div.fila div {
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    margin: 3px;
    background-color: grey;
    font-size: 80px;
    text-align: center;
}

div.campo {
    text-align: center;
}

div.campo div.fila div.mina span {
    display: none;
}

div.campo div.fila div.mina:hover {
    background-color: red;
    cursor: pointer;
}

div.campo div.fila div.mina:active span {
    display: inline-block;
    margin: auto;
}

/** ex 9 **/

div.ex9 {
    background-color: white;
    font-family: 'Oldenburg', cursive;
    width: 60%;
    padding: 50px;
}

p.pex9::first-letter {
    font-size: 3em;
}

p.pex9::first-line {
    color: brown;
}